body{
    background-color: #cecece;
}

.container{
    max-width: 350px;
    margin: auto;
    padding: 1rem;
}

#header img{
    width: 80px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* 
Form
*/

input{
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem;
    outline: 0;
}



.form .btn{
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: 0;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

/* Filter */
#filter{
    border: transparent;
    background-color: inherit;
    border-bottom: 2px solid;
    font-size: 1.1rem;
}