body{
    background-color: #cecece;
}

.container{
    max-width: 350px;
    margin: auto;
    padding: 1rem;
}

#header img{
    width: 80px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* 
Form
*/

input{
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem;
    outline: 0;
}



.form .btn{
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border: 0;
    width: 100px;
    border-radius: 4px;
    cursor: pointer;
}

/* Filter */
#filter{
    border: transparent;
    background-color: inherit;
    border-bottom: 2px solid;
    font-size: 1.1rem;
}

/* Items  */
.items .item button{
    background:transparent;
    border: 0;
    cursor: pointer;
}

.items .item{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #3333336b;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

/* Clear All */
.clear-all {
    width: 100%;
    padding: 0.5rem;
    outline: 0;
    cursor: pointer;
    background: #cecece;
    border: 1px solid #0000004f;
    font-weight: bold;
    display: block;
}